<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="<%= cocktails_path  %>">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlO7OBr0V6msWsTDczSnU374lhCTKmdyB1RyeqEROUZhzlvK-laA&s" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= new_cocktail_path %>">Create cocktail</a>
      </li>
    </ul>
  </div>
</div>
